<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "ChatApp", root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="container-fluid navbar-header nav navbar-nav navbar-right"> 
            <% if user_signed_in? %>
              <li><%= link_to "Mi Perfil", edit_user_registration_path %></a></li>
              <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Registrarse", new_user_registration_path %></li>
              <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>